* {
  box-sizing: border-box;
}
body {
  width: 1024px;
  height: 512px;
  margin: 16px auto;
  background-color: #f2e7ac;
  border: 2px;
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main aside"
    "footer footer footer footer";
}
header,
nav,
main,
aside,
footer {
  color: #000;
  border: 2px solid #400101;
  border-style: unset;
  border-radius: 20px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header {
  grid-area: header;
  height: 88px;
  background-color: #f3d3d4;
  font-family: "La Belle Aurore", cursive;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 2px solid #000;
}
nav {
  grid-area: nav;
  height: 48px;
  background-color: #fff;
}
li {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  margin: 20px;
}
main {
  grid-area: main;
  height: 340px;
  display: block;
  background-color: #bf7373;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: small;
  padding: 25px;
  letter-spacing: 0.5px;
}
aside {
  grid-area: aside;
  height: 340px;
  background-color: #7a8c51;
}
footer {
  grid-area: footer;
  height: 32px;
  background-color: #400101;
  color: #fff;
}
a {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  margin: 0 20px;
  color: #400101;
  background: #7a8c51;
  text-decoration: none;
}
.subir {
  color: #fff;
  background: none;
}
.p1 {
  text-align: justify;
  border: 2px;
  margin: 5px;
}
.p2 {
  text-align: justify;
  border: 2px;
  margin: 5px;
  display: inline-block;
}
dt {
  background: #b4b4b4;
  text-decoration: none;
}
dd {
  border: 2px;
  margin: auto;
  padding: 2px 2px 2px 2px;
  text-align: justify;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: small;
}
.t2 {
  color: #f2e7ac;
  font-family: cursive;
  font-weight: lighter;
  letter-spacing: 10px;
}
.libros {
  background-color: #b4b4b4;
}
.vmas {
  background: #bf7373;
}
